/* Definición de variables de color */
:root {
    --color-fondo: #121212; /* Fondo oscuro */
    --color-principal: #BB86FC; /* Color púrpura claro */
    --color-texto: #E0E0E0; /* Gris claro */
    --color-boton: #03DAC5; /* Verde azulado */
    --color-blanco: #FFFFFF; /* Blanco */
}

*{
    color:var(--color-texto);
}



/* Aplicación de variables en los estilos */
body {
    background-color: var(--color-fondo);
    font-family: 'Arial', sans-serif;
    color: var(--color-texto);
}

.header {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    padding: 30px 0;
    text-align: center;
    border-bottom: 5px solid var(--color-blanco);
}

.carousel-inner img {
    height: 400px;
    object-fit: contain; /* Cambiado a cover para mejor ajuste */
}

.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #1E1E1E; /* Fondo de tarjeta oscuro */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: var(--color-boton);
    border: none;
    transition: background-color 0.3s;
    border-radius: 25px;
}

.btn-primary:hover {
    background-color: #03B5A0; /* Color más oscuro para el hover */
}

footer {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    text-align: center;
    padding: 20px 0;
}

h2 {
    color: var(--color-principal);
    font-weight: bold;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro para la leyenda */
    border-radius: 10px;
    padding: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-blanco);
    border-radius: 50%;
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.5rem;
    }
}

#logo {
    height: 50px;
    width: 50px;
}

.navbar {
    background-color: var(--color-principal);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s;
    color: var(--color-fondo);
}

.nav-link:hover {
    color: var(--color-boton); /* Color de texto en hover */
}

.navbar-text .btn {
    border-radius: 25px;
    background-color: var(--color-boton);
    color: var(--color-fondo);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
    border: none;
    background-color: var(--color-fondo);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-color: transparent;
}


/* ESTILOS DE LOS ALERTS */
.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
    background: linear-gradient(to right, #f45c43, #eb3349);
    box-shadow: 0 0px 10px #de1c3280;
  }
  
  .error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
  }
  
  .error__icon path {
    fill: #fff;
  }
  
  .error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
  }
  
  .error__close path {
    fill: #fff;
  }
  